* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--var-color-white);
}

:root {
  --var-bgd-primary: #3fbecf;
  --var-bgd-secondary: #437a82;
  --var-bgd-button: tomato;
  --var-color-white: #fff;
  --var-color-grey: #ccc;
  --var-color-green: #12db34;
  --var-color-yellow: #dbce12;
  --var-color-orange: #db6212;
  --var-color-red: #db1912;
}

body {
  background-color: var(--var-bgd-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
